html{height:100%;}

.ui-icon-closethick{
	top:8px !important;
	left:8px !important;
}

body{
	background: #F9D854; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F9D854 16%, #FEFEDA 45%); /* For Safari */
    background: -o-linear-gradient(#F9D854 16%, #FEFEDA 45%); /* For Opera */
    background: -moz-linear-gradient(#F9D854 16%, #FEFEDA 45%); /* For Firefox */
    background: linear-gradient(#F9D854 16%, #FEFEDA 45%); /* Standard */
	z-index:-9;
}
#searchBox{
	display: inline-block;
	width: 285px;
	margin: 5px 5px 40px 20px;
	cursor: pointer;
	background: #ffcc66; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffcc66, white, #ffcc66); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffcc66, white, #ffcc66); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffcc66, white, #ffcc66); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffcc66, white, #ffcc66); /* Standard syntax */
}

#YsearchTxt {
	height: 31px;
	width: 250px;
	font-size: 28px;
	border: 0px solid #000000;
	background-color: rgb(199,237,204);
}

#searchIco{letter-spacing:10px;}
#searchIco:hover{color:blue;}
#searchIco::after {
	content: " \021f3";
	font-size: 170%;
	position: relative;
	left: 5px;
	vertical-align: top;
	opacity:1;
}

#searchResult{
	display: none;
	position: fixed;
	top: 10%;
	left: 30%;
	border: 1px solid black;
	width: 40%;
	height: 75%;
	background-color: rgb(199,237,204);
	z-index: 8;
	box-shadow: 10px 10px 5px #888888;	
	overflow-y: scroll;
}
#searchCls {
	display: none;
	text-align: center;
	top: 6%;
	left: 30%;
	cursor: pointer;
	z-index: 8;
	line-height:3;
	border-radius: 5px 5px 0px 0px;
	background-color: #888;
	position: fixed;
	border: 1px solid black;
	box-shadow: 10px 10px 5px #888888;	
	width: 40%;
}
#searchCls label {
	position: relative;
	top: -15px;
	font-size:140%;
}

._CXi {width: 500px;}
._CXi td{width: 200px;}
._jyi {width: 30px !important;}
._HZj {width: 40px !important;}

.gsc-control-cse {
	height: 20px;
	margin: 5px;
	background-color: transparent;
}

input.gsc-input{width: 110px !important;}
.gsc-clear-button { width: 20px;}

#result {
float: right; 
background: #A9D0F5;
margin-left: 10px;
height: 570px;width: 200px;
border-radius: 0px 0px 20px 20px;
}

#tab {
border-style: none;
padding: 0 0;
background: rgba(0,0,0,0);
}

#tblhead{
    position: fixed;
	right: 0.5%;
	background-image: url('/image/headbg.gif');
    padding: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.myButton {
 text-decoration: none;
 height: 23px;
 padding: 5px 5px 5px 5px;
 cursor: pointer;
 text-align: center;
 vertical-align: middle;
 margin: auto; 
 font-family: Sans-serif;
 color:#000;
 background-image: url("/image/wood.jpg");
 border-radius: 5px 5px 5px 5px;
}


.myButton:hover {
background-image: none;
background-color:#ebf9ff;
background-image: linear-gradient(#ebf9ff, #79abe8);
}

.boxoff {
  border-top: 0;    
  clear: both;
  display: none;
  height: 700px;
  border-style: none;
}

.box{
 border-top: 0;
 position: relative;
 top: -3px;    
 clear: both;
 height: 700px;
 border-style: none;
 border-radius: 0 30px 30px 30px !important;
}

.on{color: #0000FF !important;}

.tab-link {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  color: #555;
  display: block;
  float: left;
  padding: 20px 20px 5px 20px !important;
  top: 0;
  width: 120px;
  height: 30px;
  border-style: none;
  border-left: 0;
  border-bottom: 0;
  border-radius: 30px 30px 0 0;
}

.tab-link:nth-of-type(1) {background: #A9D0F5;}
.tab-link:nth-of-type(2) {background: #BCF5A9;}
.tab-link:nth-of-type(3) {background: #D0F5A9;}
.tab-link:nth-of-type(4) {background: #C8D5C0;}
.tab-link:nth-of-type(5) {background: #D9D9D9;}

#tabs {
	background: none !important;
	overflow: hidden;
	border-style: none;
	width: 900px;
	margin-left: 10px;
	position: fixed;
	top: 10%;
	}

.spTab {
vertical-align: middle;
letter-spacing: 2px;
font-size: 120%;
height: 5;
} 

#tblmain th, #tblmain td, #tblmain tr {
    margin: 20px;
    border-style: none;
    height: 0;
    width: 10px;
    padding-left: 0;
    padding-right: 0;
    border-left-width: 0;
    border-right-width: 0;
}

#weaBox {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: contain;
    padding: 0;
    margin: 0 10px 0 0;
    overflow: hidden;
    visibility: hidden;
}

#weaTmp{
text-align: right;
font-weight: bold;
font-family:'Century Gothic',AvantGarde,'Avant Garde',sans-serif;
font-size: 70%;
text-shadow: 0 0 3px #ffff00;
top: 30%;
margin-right: 10%;
position: relative;
}


#clkBox {text-align:center;display:block;background-color:#000;padding:4px;border:2px dashed #990;
    -webkit-animation-name: chgBgColor; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: chgBgColor;
    animation-duration: 4s;
}
@-webkit-keyframes example {
    0%   {background-color:#000;}
    50%   {background-color:#fff;}
    100% {background-color:#000;}
}
@keyframes chgBgColor {
    0%   {background-color:#000;}
    50%   {background-color:#fff;}
    100% {background-color:#000;}
}
#clkText {white-space:nowrap;font-family:'Century Gothic',AvantGarde,'Avant Garde',sans-serif;font-size:16px;color:#99f;font-weight:bold;text-decoration:none;cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#rHead{
height: 10px;
background: #D8D8D8;
}

#rBody{ border-style: none;}

#tab0 {cursor: url(man_arrow.cur),pointer;}

#tabErr{
 border-top: 0;    
 padding: 10px 10px 10px 10px;
 clear: both;
 height: 710px;
 width: 60%;
 border-style: none;
 border-radius: 30px 30px 30px 30px !important;
}

#ErrCode { 
box-shadow: 3px 3px 3px silver; 
background-color: lightpink;
font-family: Arial, Helvetica, sans-serif;
font-size: 48px;
font-weight: bold;
margin : 10px,10px,10px,10px;
}

wk{ color: #99f;}

blue{
color: #0000ff;
font-weight: bold;
}

a{ text-decoration: none;}

#tblErr { height: 25px; width: 120px; table-layout: fixed;}

#dgErr{
font-size: 70%;
}

.ImgErr {width: 50px;}

#err_msg {
width: 360px; padding-left:18px;
overflow:hidden;text-overflow: ellipsis;}

.ui-button-text {height: 0px;}

red { color: red;}

/* svg background */

path {
  stroke: #fff;
}

path:first-child {
  fill: rgb(77,146,33) !important;
}

circle {
  fill: rgba(0,0,0,0);
  pointer-events: none;
}

.q0-9 { fill: rgb(143, 143, 143); }
.q1-9 { fill: rgb(222,119,174); }
.q2-9 { fill: rgb(164, 164, 81); }
.q3-9 { fill: rgb(253,224,239); }
.q4-9 { fill: rgb(130,192,192); }
.q5-9 { fill: rgb(128, 128, 255); }
.q6-9 { fill: rgb(184,225,134); }
.q7-9 { fill: rgb(255, 190, 158); }
.q8-9 { fill: rgb(77,146,33); }

svg {
	position:fixed;
	top: 45%;
	left: 0px;
	z-index: -10;
}

@media only screen and (max-width: 980px) {
    #searchBox {
        display: none;
    }
	#tblhead {
		
	}
}
