html{height:100%;}


body{
	background: #F9D854; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F9D854 16%, #FEFEDA 45%); /* For Safari */
    background: -o-linear-gradient(#F9D854 16%, #FEFEDA 45%); /* For Opera */
    background: -moz-linear-gradient(#F9D854 16%, #FEFEDA 45%); /* For Firefox */
    background: linear-gradient(#F9D854 16%, #FEFEDA 45%); /* Standard */
	z-index:-9;
	text-align:center;
}

#login_div{
	text-align:center;
    border-radius: 5px 5px 5px 5px;
	border: 1px solid;
	width: 650px;
	height: 70px;
	margin: 0 auto;
}

.login_div_1, .login_div_2{
	text-align:left;
	width: 20px;
	margin-top:  5px;
}

.login_txt{
	width: 80px;
	margin-right: 5px;
}

#clkText{
	font-size:160%;
	line-height:3;
}
.myButton {
 text-decoration: none;
 height: 30px;
 width: 70px;
 padding: 5px 5px 5px 5px;
 cursor: pointer;
 text-align: center;
 vertical-align: middle;
 margin: auto; 
 font-family: Sans-serif;
 color:#000;
 border-radius: 5px 5px 5px 5px;
}


.myButton:hover {
background-image: none;
background-color:#ebf9ff;
background-image: linear-gradient(#ebf9ff, #79abe8);
}
