<!DOCTYPE html>  
<html>
<head>  
<script type="text/javascript" src="/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">
<meta charset="utf-8">  
<title>Web Note By Kenneth Chan</title>  
</head>  
<body>  
<div id="login_div" class="box">
 <div class="col-xs-5">
  <div>
	<input type="text" id="txt_login" class="login_txt"/>
	<input type="password" id="txt_pw" class="login_txt"/>
  </div>
  <div class="row">
	<div class="col-xs-4"><button id="btn_login" class="myButton">Login</button></div>
	<div class="col-xs-4"><button id="btn_join" class="myButton">Join</button></div>
	<div class="col-xs-4"><button id="btn_forget" class="myButton">Forget</button></div>
  </div>
 </div>
 <div class="col-xs-2">
 
 </div>
 <div class="col-xs-5">
	<div id="timeBox">Tue Apr 12 2016 13:00</div>
 </div>
</div>  
<!--
<section id="sec_main">
<% for(var i=0; i<users.length; i++) {%>  
<div><%= users[i] %></div>  
<% } %>  
</section>
-->
</body>  
</html>  