<!DOCTYPE html>  
<html>
<head>  
<script type="text/javascript" src="/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/css/main.css">
<meta charset="utf-8">  
<title>Web Note By Kenneth Chan</title>  
</head>  
<body>  
<h1><%= title %></h1>  
<div id="login_div">
  <span>
	<div><input type="text" id="txt_login" /></div>
	<div><input type="password" id="txt_pw" /></div>
  </span>
  <span>
	<div><button id="btn_login" class="myButton"></div>
	<div><button id="btn_join" class="myButton"></div>
	<div><button id="btn_forget" class="myButton"></div>
  </span>	
</div>  
<ul>  
<% for(var i=0; i<users.length; i++) {%>  
<li><%= users[i] %></li>  
<% } %>  
</ul>  
</body>  
</html>  